html {
    background-color: #869960;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}

img {
    max-width: 100%;
    height: auto;
}

/* Banner Overlay */
.image-banner {
    position: relative;
    overflow: hidden;
}

.image-banner img {
    display: block;
    transition: all 1s;
}

.image-banner:hover img {
    transform: scale(1.5);
}

.image-banner:hover .banner-description {
    transform: translateY(0);
    opacity: 1;
}

.banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 25px;
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transform: translateY(100%);
}

/* Banner Overlay End */

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

header {
    padding-top: 20px;
    /* padding-bottom: 20px; */
    color: #617140;
    background-image: url("/images/pexels-tuherdias-awang-16138674.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
    color: #e5e9dc;
    padding-left: 10px;
}

header p {
    margin: 0;
    color: #e5e9dc;
    padding-left: 10px;
}

/* Site Navigation */
.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
    background-color: white;
}

.site-nav a {
    display: block;
    text-decoration: none;
    color: #eff1eb;
    background-color: #a3a3a1;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom: none;
    transition-property: color, background-color;
    transition-duration: 2s;
}

.site-nav a:hover {
    background-color: #4d4e4b;
    color: #fff;
}

/* End Site Navigation */

.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.main-area > p {
    line-height: 1.5;
    text-align: justify;
    text-indent: 25px;
}

.sidebar {
    width: 34%;
    float: left;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
    background-image: linear-gradient(to right, #e5e9dc, #fff);
}

.sidebar p {
    width: 85%;
}

/* Form */
form {
    width: 85%;
}

input,
select {
    font-family: Tahoma, sans-serif;
    font-size: 100%;
}
input[type="email"],
input[type="password"],
select {
    width: 110%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #cdcdcd;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border: 1px solid #869960;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
}

input[type="submit"] {
    display: block;
    box-sizing: border-box;
    background-color: #869960;
    color: white;
    width: 110%;
    padding: 6px 0;
    border: 1px solid #798a56;
    border-radius: 3px;
    margin: 10px 0;
    outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    border: 1px solid #53533b;
    background-color: #798a56;
}
/* Form End */

footer {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Table style */
table {
    border-spacing: 0;
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
}
table th {
    text-align: left;
    background-color: #869960;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

table th,
table td {
    border: 1px solid #869960;
    padding: 10px;
}

table tbody tr:nth-child(odd) td {
    background-color: #e5e9dc;
}

table .col-item-name {
    width: 60%;
}

table .col-quantity,
table .col-price {
    width: 20%;
}

table.grocery-list tr :nth-child(2),
table.grocery-list tr :nth-child(3) {
    text-align: center;
}

/* Table style End */

/* group for clear float */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group::after {
    clear: both;
}

.group {
    zoom: 1;
}
/* group for clear float end*/
